<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Connect</servlet-name>
        <servlet-class>Import.Connect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Disp</servlet-name>
        <servlet-class>Import.Disp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Parse</servlet-name>
        <servlet-class>Import.Parse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Form</servlet-name>
        <servlet-class>Import.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Know_servlet</servlet-name>
        <servlet-class>Import.Know_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>out</servlet-name>
        <servlet-class>Import.out</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Insert</servlet-name>
        <servlet-class>Import.Insert_Serv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Filter.auth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sms_servlet</servlet-name>
        <servlet-class>Import.sms_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connect</servlet-name>
        <url-pattern>/Connect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Disp</servlet-name>
        <url-pattern>/Disp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Parse</servlet-name>
        <url-pattern>/Parse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Know_servlet</servlet-name>
        <url-pattern>/Know_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>out</servlet-name>
        <url-pattern>/out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Form</servlet-name>
        <url-pattern>/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Insert</servlet-name>
        <url-pattern>/Insert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>Import.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
         C:\ProgramData\MySQL\MySQL Server 5.7\Uploads\
     </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>Auth</filter-name>
        <filter-class>Filter.auth</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Auth</filter-name>
        <url-pattern>/Pages/*</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>sms_servlet</servlet-name>
        <url-pattern>/sms_servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
