/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 Jan, 2017, 2:12:39 PM
    Author     : Naga Vignesh N
*/

 .btn{
                border:none;
                background-color: #fff;
                height:4em;
                width:5em;
                cursor: pointer;
                position:absolute;
                top:1.5em;
                left:100em;
               
          
            }